{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<h2>This is about us page</h2>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aut culpa, dolor dolorem hic laborum modi nemo nihil omnis placeat possimus quod repudiandae rerum similique sunt voluptatem! Facere, totam.</span><span>Accusamus alias aliquam at aut beatae cumque cupiditate delectus deleniti eum, exercitationem explicabo fugiat, harum ipsa ipsum iusto laudantium minima nihil optio placeat porro quia quis reiciendis sunt tenetur voluptas?</span><span>Asperiores blanditiis corporis deserunt dolore ea enim eos error natus nostrum placeat,
    recusandae, repellat reprehenderit sit veniam voluptate? Asperiores est id inventore natus odit officia officiis ratione repellat, sequi sint.</span></p>

<img src="{% static 'images/gallery-9.jpg' %}" alt="", width="500" height="500">
<img src="{% static 'images/gallery-10.jpg' %}" alt="", width="500" height="500">
</body>
</html>