{% load static %}
<!doctype html>
<html lang="en">
<head>
      <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blog</title>
</head>
<body>
<h2>This is blog page</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam autem dolores ducimus earum ex, exercitationem expedita illum iste labore laborum minus nihil numquam odio quaerat, sit soluta, unde vero!</span><span>Accusantium dicta esse ipsam iusto laudantium, modi nam, quis recusandae reprehenderit, sed soluta totam vero
    voluptatem. Blanditiis culpa cumque dolorum eius iure molestias necessitatibus numquam, quaerat quidem saepe vel voluptatum.</span></p>

<img src="{% static 'images/gallery-7.jpg' %}" alt="", width="500" height="500">
<img src="{% static 'images/gallery-8.jpg' %}" alt="", width="500" height="500">
</body>
</html>