{% load static %}
<!doctype html>
<html lang="en">
<head>
      <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact us</title>
</head>
<body>
<h2>This contact us page</h2>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur at aut consequatur delectus dicta ducimus, enim ex laboriosam modi nesciunt perspiciatis, placeat provident quae sequi sint ut veniam?</span><span>Dolore eligendi error itaque natus nihil non odit optio porro, quo temporibus.
    Ab ad alias aperiam aspernatur esse incidunt magnam magni, minima odio omnis recusandae rerum totam ullam vel voluptas.</span></p>


<img src="{% static 'images/gallery-5.jpg' %}" alt="", width="500" height="500">
<img src="{% static 'images/gallery-6.jpg' %}" alt="", width="500" height="500">

</body>
</html>