{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>services</title>
</head>
<body>
<h2>This is Service page</h2>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, aut beatae culpa eveniet fuga fugiat fugit id illo, in iusto magnam mollitia natus nisi perferendis, quisquam voluptates. Dolor, dolorum.</span><span>Asperiores ipsam iusto nobis possimus praesentium rem soluta vitae? A adipisci amet dicta earum expedita ipsum, modi neque nesciunt odit, perferendis quam, qui repellendus sed suscipit tempore ullam veritatis vero?</span><span>A, ab accusamus alias, animi aut debitis dicta dolores dolorum ducimus earum eius id, laboriosam nemo odio odit omnis quae qui quis quisquam reiciendis sit tenetur ullam vel voluptatem voluptatum?</span><span>A adipisci aliquam amet consequatur delectus deleniti dicta dolore dolores, eaque earum eius esse eum facere itaque labore laboriosam, molestiae odit officia omnis perspiciatis provident recusandae sint soluta tempore ut?</span><span>Error impedit incidunt ipsa obcaecati unde. Aliquam animi asperiores, delectus
    ea esse est id impedit in, iusto neque odio officia officiis repellat similique tempora temporibus tenetur ut voluptate voluptatibus voluptatum?</span></p>

<img src="{% static 'images/gallery-3.jpg' %}" alt="", width="500", height="500">
<img src="{% static 'images/gallery-4.jpg' %}" alt="", width="500", height="500">

</body>
</html>